.form-group-2 {
    position: relative;
    min-height: 3em;
}
.form-control-2 {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 3rem;
    background: #ffffff;
    border: 2px solid white;
    color: white;
}
.form-label-2{
    position: absolute;
    left: 13px;
    z-index: 100;
}

.feedbackCustom {
    position: absolute;
    top: 90%;
}

.botoncita{
    transform-origin:center;
    background:#4F9CA1 !important;
    border:none !important
  }

.botoncita:hover{
    transform-origin:center;
    animation: botoncita 10ms ease-in forwards;
    background:#2DC5CF !important;
    border: none !important;
  }
  @keyframes botoncita {
    to {
      transform: scale(1.05);
    }}

