.form-group-2 {
    position: relative;
    min-height: 3em;
}
.form-control-2 {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 3rem;
}
.form-label-2{
    position: absolute;
    left: 13px;
    z-index: 100;
}

.feedbackCustom {
    position: absolute;
    top: 90%;
}