.form-group-2 {
    position: relative;
    min-height: 3em;
}
.form-control-2 {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 3rem;
    background: #ffffff;
    border: 2px solid white;
    color: white;
}
.form-label-2{
    position: absolute;
    left: 13px;
    z-index: 100;
}

.feedbackCustom {
    position: absolute;
    top: 90%;
}

.botoncita{
    transform-origin:center;
    background:#50628C !important;
    border:none !important
  }

.botoncita:hover{
    transform-origin:center;
    animation: botoncita 10ms ease-in forwards;
    background:#50628C80 !important;
    border: none !important;
  }
  @keyframes botoncita {
    to {
      transform: scale(1.02);
    }}

    .bg-botoncitoPC{
      background: rgba(255, 255, 255, 0) ;
      color: #ffffff ;
      border: 2px solid #ffffff ;
      border-radius: 20px ;
      margin-left: 5px ;
      margin-right: 5px ;
      margin-top: 5px ;
      padding: 6px 12px;
      
  }
  .bg-botoncitoPC:hover{
      color: white ;
      cursor: pointer;
      background: #546da8 ;
  }
  

