.cards {
    --cols: 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(Max(calc(100%/var(--cols, 1)), 250px), 1fr));
}

.card {
    height: 375px;
    width: 300px;
    display: flex;
    margin-bottom: 20px;
}

.desc {
    display: flex;
}

p {
    margin: 0!important;
    padding: 0;
}