td:hover {
    background-color:#8E97C8 ;
}

td {
    width: 40px;
    height: 200px;
}

th {
    background-color: #727BB0;
}

table {
    background-color: #B3BCE8;
}
p {
    
    font-weight: lighter;
}