.datosContacto {

  margin-bottom: 0 !important;

}

.datos {
  border-bottom: 2px solid #b3bce8;
  border-left: 2px solid #b3bce8;
  border-right: 2px solid #b3bce8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #b3bce8;
  color: #2b3860;
  font-weight: 600;
  padding: 2px;
}

.datos2 {
    font-weight: 600;
    border-bottom: 2px solid #73C9D0;
    border-left: 2px solid #73C9D0;
    border-right: 2px solid #73C9D0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #73C9D0;
    color: #2b3860;
    padding: 2px;
}

