.filtro-global-propio{
    margin-top: 20px;
}
.contenedor-propio{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.tabla-propia{
    width:90%; 
    margin-top:20px;
}

.tabla-header-propio{
    background-color:#2B3860;
}
.th-propio{
    font-size: 15px;
    text-align: center;
    color:#FAFAFA;
}