:root {
    --rosa1: #B3BCE8;
    --rosa2: #8E97C8;
    --violetaOscuro2: #50628C;
    --botoncitos: #2B3860;
}

h3, h4, h5, h6 {
    margin: 0;
}

.bg-botoncito{
    border:2px solid var(--botoncitos)!important;

}

.bg-botoncito:hover{
    background: var(--botoncitos) ;
    color: white !important;
    cursor: pointer;
    transform: scale(1.1);
}

.bg-violetaOscuro-2 {
    background-color: var(--violetaOscuro2);
}
.bg-rosa1 {
    background-color: var(--rosa1);
}
.bg-rosa2 {
    background-color: var(--rosa2);
}
.text-white {
    color: white;
}

a { text-decoration: none; color: #fff; }
a:visited { text-decoration: none; color: #fff; }
a:hover { text-decoration: none; color: #fff; }
a:focus { text-decoration: none; color: #fff; }
a:hover, .a:active { text-decoration: none; color: #fff; }

.siimple-card-body {
    border-top: 0;
}

#border-cero div {
    border: 0px;
}

.logo {
    max-height: 158px;
    height: 100%;
    max-width: 204px;
    width: 100%;
}

/* .navbar {
    height: 163px;
} */

.siimple-card-header {
    border-top-right-radius: 16px!important;
    border-top-left-radius: 16px!important;
}

.textButtonsCard {
    text-align: center;
}

.buttonsCard {
    border-radius: 16px;
    min-height: 180px;
    min-width: 180px;
    max-width: 180px;
    max-height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 1rem;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}


.input-icons img {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 7px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    min-height: 44px;
}

/*Sidebar*/
.sidebar {
    position: fixed;
    top: 86px;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.nav-pills .nav-link.active{
    background: #2B3860 !important;
}
.nav-link:hover{
    background: #2b386050 !important;
}